NetBeansProjects/Xml_Dtd_Xsl/Jo/public_html/Jo.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT grille (pays)*>

<!ELEMENT pays (medals,medals,medals,total)>

<!ELEMENT medals (#PCDATA)>
<!ELEMENT total (#PCDATA)>

<!ATTLIST pays nom (France|Russie|Allemagne|GB|Usa|Japon|CoreeDuSud|Italie|Australie) #REQUIRED>
<!ATTLIST medals metal (or|argent|bronze) #REQUIRED>
